.AddTodoForm {
  display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  margin: 0;

  .input {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    appearance: none;
    border-width: 1px;
    border-radius: 3rem;
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #000000;
    line-height: 1.25;
    background-color: #e5e5e5;
    cursor: pointer;
  }

  .button {
    background-color: #fca311;
    color: #14213d;
    font-weight: 700;
    padding: 5px;
    border-radius: 3rem;
    width: 40%;
    cursor: pointer;
    &:hover {
      background-color: #fec465;
    }
  }
}
